
.top-banner{
    background: #ffcfd2;
}
.container{
    margin-bottom: 100px;
}
p{
    font-weight: 500;
    font-size: 14px;
    color: rgb(60, 55, 55);
}
.text-highlight{
    color: rgb(0, 17, 255);
}
.nav, a img{
    width: 120px;
    height: 55px;
}
.nav-item{
    margin-left:15px ;

}
.text-dark{
    font-weight: 500;
}
.btn{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 5px 20px;
   
}
.books3{
    box-shadow: 1px 2px 2px lightgray ;
    border: none;
    background-color: #ffcfd2;
    margin: 10px;
    width: 100%;
    text-align: center;
}
.books3 img{
    padding: 10px;
}

.books3:hover{
    cursor: pointer;
    box-shadow: 1px 5px 30px lightgray;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.card-footer{
    background-color: white;
    border: none;
    color: black;
    font-weight: 600;
    
}
.card-footer img{
    height: 20px;
    width: 20px;
}
.cont-head-text{
    padding: 100px;
    font-family: sans-serif;
    font-weight: 700;
}
.links{
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}